<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome to BJIT!</title>
</head>
<body>
<table width="100%" border="0" cellspacing="0" cellpadding="0">
    <tr>
        <td align="center" bgcolor="#f4f4f4">
            <table width="600" border="0" cellspacing="0" cellpadding="20" style="margin: 20px auto; background-color: #ffffff; border-radius: 10px; box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);">
<!--                &lt;!&ndash; Logo section &ndash;&gt;-->
<!--                <tr>-->
<!--                    <td align="center">-->
<!--                        <img src="https://bjitgroup.com/static/svg/common/bjit-logo2.svg" alt="BJIT Logo" style="max-width: 200px;">-->
<!--                    </td>-->
<!--                </tr>-->
                <tr>
                    <td style="font-family: Arial, sans-serif; font-size: 16px; color: #333333; line-height: 1.6;">
                        <p>[Dynamic Content]</p>
                    </td>x
                </tr>
                <tr>
                    <td align="center" style="padding-top: 20px;">
                        <p>Sent by BJIT</p>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
</body>
</html>
